.left-nav {
    border: 1px solid black;
    border-radius: 4px;
    width: 10%;
    padding: 30px;
    margin-right: 10px;
}

.left-nav-screens {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    width: 90%;
}

@media (max-width: 1068px) {
    .left-nav-screens {
        display: block;
    }

    .left-nav {
        width: auto;
    }
}