.app-margin {
  margin: 20px;
}

.blue-button {
  background-color: #004c75;
  /* Bootstrap primary blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.blue-button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.tile {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}

.section-margin {
  padding-left: 30px !important;
  padding: 50px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.section{
  max-width: fit-content;
}

input{
  width: 100%;
  padding: 8px;
}
